<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form (ngSubmit)="save()" #myForm="ngForm">
            <input type="email"
            class="form-control"
            placeholder="email"
            [ngModel]="initForm.email"
            name="email"
            >
             
            <span class="form-text text-danger" 
                *ngIf="notValid('email')">
                Email no válido
            </span>

            <input type="password"
            class="form-control"
            placeholder="password"
            [ngModel]="initForm.password"
            name="password"
            required>
             
            <span class="form-text text-danger" 
                *ngIf="notValid('password')">
                Password requerido
            </span>


            <div>
                <button [disabled]="myForm.invalid" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Login
                </button>
            </div>
        </form>
    </div>
</div>